:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

@font-face {
  font-family: "helvetica";
  font-display: swap;
  src: url("ofont.ru_Helvetica\ Neue.ttf") format("truetype");
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}
body {
  text-align: center;
  background-color: #193549;
  color: white;
  font-family: "helvetica", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}
